li {
    font-size: small;
}

li[data-notification-type="default"] {
    color: blue;
}

li[data-notification-type="urgent"] {
    color: red;
}

.menuItem {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 5px;
    /* float: right; */
    position: absolute;
    right: 5%;
    top: 2%;

}
