# specifically asked to not push these:
Webpack/task_0/dist/main.js*
Webpack/task_1/public/bundle.js.L*
*.LICENSE.txt
Webpack/task_3/public/

# Dependency directories
node_modules/

package-lock.json
