.App-logo {
    height: 30vmin;
  }

  .App-header {
    font-family: serif;
    background-color: white;
    min-height: 10vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: #E0354B;
    align-items: center;
    margin-top: 50px;
    border-bottom: 3px solid red;
  }
