.App-logo {
    height: 20vmin;
    /* position: absolute; */
  }

  .App-header {
    font-family: serif;
    background-color: white;
    min-height: 10vh;
    height: 20vmin;
    width: 100%;
    /* position: absolute; */
    right: 5px;
    display: flex;
    font-size: calc(8px + 1vmin);
    color: #E0354B;
    align-items: center;
    margin-top: 50px;
    border-bottom: 3px solid red;
  }
